<!-- https://clickhouse.uptrace.dev/clickhouse/low-memory.html -->
<clickhouse>
    <!--
    max_concurrent_queries limits the maximum number of simultaneously
    processed queries.

    Choose a value between (1 - 2) * number of CPU cores.
    -->
    <max_concurrent_queries>4</max_concurrent_queries>

    <!--
    mark_cache_size limits the maximum size of the mark cache.

    Lower mark cache size from 5GB to 1GB.
    -->
    <mark_cache_size>1073741824</mark_cache_size>

    <merge_tree>
        <!--
        merge_max_block_size configures the number of rows that are read from
        the merged parts into memory. Lowering this value will lower memory
        requirements at the expense of slower merges.

        Choose a value between 1024 and 4096.
        The default is 8192.
        -->
        <merge_max_block_size>1024</merge_max_block_size>

        <!--
        max_bytes_to_merge_at_max_space_in_pool controls the maximum total parts size (in bytes) to be merged into one part.

        Choose a value between 1GB and 4GB.
        The default is 150GB.
        -->
        <max_bytes_to_merge_at_max_space_in_pool>1073741824</max_bytes_to_merge_at_max_space_in_pool>

        <!--
        number_of_free_entries_in_pool_to_lower_max_size_of_merge specifies
        the number of free entries in the pool when ClickHouse starts to
        lower the maximum size of merges to process.

        Because most of the time you won't have idle threads in the pool, set
        this value to 0 to let merges proceed.
        -->
        <number_of_free_entries_in_pool_to_lower_max_size_of_merge >0</number_of_free_entries_in_pool_to_lower_max_size_of_merge>
    </merge_tree>
</clickhouse>
